﻿@page "/counter"

<h1>Counter</h1>

<p>Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    public int _currentCount;

    public void IncrementCount()
    {
        _currentCount++;
    }
}
